<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<head>
	<title>Connexity</title>
	<link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap-3.3.5-dist/css/bootstrap.css}" />
	<script th:src="@{/js/jquery-1.12.3.min.js}"></script>

	<!-- Latest compiled JavaScript -->
	<!--<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>-->
	<script th:src="@{/js/bootstrap.min.js}"></script>

	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
	<script>
		function validateForm() {
			var x = document.forms["myform"]["key"].value;
			if (x == null || x == "") {
				alert("Name must be filled out");
				return false;
			}
		}
	</script>
</head>


<body>
	<div class="container" name="top">
      <h2>Search for Product</h2>
		<!--<form action="query.html" th:action="@{/search}" th:value="key">-->
 			<!--<div class="input-group col-md-12">-->
	        <!--<input type="text" name="key" class="form-control input-lg" />-->
	        <!--<span class="input-group-btn">-->
	            <!--<button class="btn btn-info btn-lg" type="submit"/>-->
	            <!--<i class="glyphicon glyphicon-search"></i>-->
	        <!--</span>-->
	      <!--</div>-->
	    <!--</form>-->

		<form method="GET" action="/search/query.html"  onsubmit="return validateForm()" name="myform"  >
			<div class="input-group col-md-12">
				<input name="key" type="text" class="form-control input-lg" placeholder="Search for product" />
				<span class="input-group-btn">
					<button class="btn btn-info btn-lg" type="submit"/>
					<i class="glyphicon glyphicon-search"></i>
				</span>
			</div>
		</form>


	 </div>
</body>
</html>
